 .chart-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}
.chart-article {
    flex: 1;
    max-width: 48%;
}
.d3-chart svg {
    width: 100%;
    height: 100%;
}
path.slice {
    stroke-width: 2px;
}
polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
.d3-chart {
    width: 100%;
    height: 400px;
    position: relative;
}